
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SIM-LABSOS</title>
	<link rel="stylesheet" href="{% static 'css/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/assets/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'css/assets/css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'css/assets/images/UNU.png' %}" />
</head>
{% block content %}


{% endblock %}

<script src="{% static 'css/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'css/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'css/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'css/assets/js/misc.js' %}"></script>
<script>
  setTimeout(function () {
    if ($('#msg').length > 0.5) {
      $('#msg').remove();
    }
  }, 2000)
</script>
</body>
</html>
