{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="{% url 'staff_home' %}" class="nav-link">
        <div class="nav-profile-image">
          <img src="{{user.Students.profile_pic}}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <!-- <span class="font-weight-bold mb-2">{{ user.first_name }} {{ user.last_name }}</span> -->
          <span class="text-secondary text-small">{{ user.email }}</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_home' as staff_home %}
      <a href="{{ staff_home }}" class="nav-link {% if request.path == staff_home %} active {% endif %}">
        <span class="menu-title">Home
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_take_attendance' as staff_take_attendance %}
      <a href="{{ staff_take_attendance }}"
        class="nav-link {% if request.path == staff_take_attendance %} active {% endif %}">
        <span class="menu-title">Take Attendance
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi mdi-account-check menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_update_attendance' as staff_update_attendance %}
      <a href="{{ staff_update_attendance }}"
        class="nav-link {% if request.path == staff_update_attendance %} active {% endif %}">
        <span class="menu-title">View Update Attendance
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_add_result' as staff_add_result %}
      <a href="{{ staff_add_result }}" class="nav-link {% if request.path == staff_add_result %} active {% endif %}">
        <span class="menu-title">Add Result
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_apply_leave' as staff_apply_leave %}
      <a href="{{ staff_apply_leave }}" class="nav-link {% if request.path == staff_apply_leave %} active {% endif %}">
        <span class="menu-title">Apply Leave
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_feedback' as staff_feedback %}
      <a href="{{ staff_feedback }}" class="nav-link {% if request.path == staff_feedback %} active {% endif %}">
        <span class="menu-title"> Feedback
          {% comment %} <small class="right badge badge-danger">New</small> {% endcomment %}
        </span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <hr>
  </ul>
</nav>