{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="{% url 'admin_home' %}" class="nav-link">
        <div class="nav-profile-image">
          <img src="{{user.Students.profile_pic}}" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">{{ user.first_name }} {{ user.last_name }}</span>
          <span class="text-secondary text-small">{{ user.email }}</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'admin_home' as admin_home %}
      <a class="nav-link" href="{% url 'admin_home' %}">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'manage_staff' as manage_staff %}
      {% url 'edit_staff' staff_id=id as edit_staff %}
      <a class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}"
        href="{{ manage_staff }}">
        <span class="menu-title">Kelola Dosen</span>
        <i class="mdi mdi mdi-account-check menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'manage_student' as manage_student %}
      {% url 'edit_student' student_id=id as edit_student %}
      <a class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}"
        href="{{ manage_student }}">
        <span class="menu-title">Kelola Mahasiswa</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'manage_course' as manage_course %}
      {% url 'edit_course' course_id=id as edit_course %}
      <a class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}"
        href="{{ manage_course }}">
        <span class="menu-title">Kelola Course</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'manage_subject' as manage_subject %}
      {% url 'edit_subject' subject_id=id as edit_subject %}
      <a href="{{ manage_subject }}"
        class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
        <span class="menu-title">Kelola Subject</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'manage_session' as manage_session %}
      {% url 'edit_session' session_id=id as edit_session %}
      <a href="{{ manage_session }}"
        class="nav-link {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
        <span class="menu-title">Kelola Session</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'admin_view_attendance' as admin_view_attendance %}
      <a href="{{ admin_view_attendance }}"
        class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
        <span class="menu-title">Kehadiran</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'student_feedback_message' as student_feedback_message %}
      <a href="{{ student_feedback_message }}"
        class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
        <span class="menu-title">Mahasiswa Feedback</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_feedback_message' as staff_feedback_message %}
      <a href="{{ staff_feedback_message }}"
        class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
        <span class="menu-title">Dosen Feedback</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'student_leave_view' as student_leave_view %}
      <a href="{{ student_leave_view }}"
        class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
        <span class="menu-title">Mahasiswa Leave</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      {% url 'staff_leave_view' as staff_leave_view %}
      <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
        <span class="menu-title">Dosen Leave</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <hr>
  </ul>
</nav>